<div id="aboutDialog">

  <div class="modal-header">
    <h3><span class="icon-info" aria-hidden="true"></span>About</h3>
    <span id="closeIcon" class="close"><span class="icon-cross" aria-hidden="true"></span>Close</span>
  </div>

  <div class="modal-body">

  	<p>SimplyWrite is a free web distraction writing tool for those who like write.</p>

  	<p>SimplyWrite recognizes the lightweight markup language <a href="http://en.wikipedia.org/wiki/Markdown">Markdown</a>,
  		an easy-to-read, easy-to-write plain format which allow to enrich the text.</p>

  	<p><strong>Note</strong> SimplyWrite stores all your writes on the client side. It makes use of the HTML5 
	<a href="http://www.html5rocks.com/en/features/storage">local storage</a> features so no server is 
	required.</p>

	<p>SimplyWrite was made to you by:</p>

	<ul>
		<li><p>Antonio Santiago (<a href="https://twitter.com/acanimal">@acanimal</a>): 
			Original idea and developer</p></li>
		<li><p>Guillem Sevilla (<a href="https://twitter.com/gllmsvll">@gllmsvll</a>): 
			Designer.</p></li>
	</ul>

	<p>The <a href="https://github.com/acanimal/SimplyWrite">source code</a> of 
		SimplyWrite is available under MIT license. Feel free to contribute.</p>

  </div>

</div>
