
<div class="container-fluid">

    <div class="headerAreaWrapper row-fluid">
        <div class="span12">
            <div id="mainActions" class="mainActions">
                <button id="newButton"  class="btn"><span class="icon-book" aria-hidden="true"></span>New</button> 
                <button id="saveButton" class="btn"><span class="icon-install" aria-hidden="true"></span>Save</button> 
                <button id="savedButton" class="btn"><span class="icon-folder" aria-hidden="true"></span>Saved files</button> 

                <button id="aboutButton" class="btn"><span class="icon-info" aria-hidden="true"></span>About</button>
                <button id="optionsButton" class="btn"><span class="icon-eye" aria-hidden="true"></span>Options</button>                
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span2">
            <div id="statusPanel"></div>
        </div>

        <div class="span8">
            <div class="row-fluid">
                <div class="span12">

                    <div class="textAreaWrapper">
                        <textarea id="textarea"></textarea>
                    </div>  

                </div>
            </div>
        </div>

    </div>

    <div class="footerAreaWrapper row-fluid">
        <div class="span12">
            <div class="footerArea">
                SimplyWrite &copy; 2013
            </div>
        </div>
    </div>

</div>

<!-- Element for messages -->
<div id="message" class="alert alert-info"></div>

<!-- Element for modal dialog. See: http://lostechies.com/derickbailey/2012/04/17/managing-a-modal-dialog-with-backbone-and-marionette/ -->
<div id="modalDialog" class="modal hide fade"></div>
    