<div>
  <div class="modal-header">
    <h3><span class="icon-book" aria-hidden="true"></span>New</h3>
    <span id="newCloseIcon" class="close"><span class="icon-cross" aria-hidden="true"></span>Close</span>
  </div>
  <div class="modal-body">
    <form class="filename">
      <label class="col" name="filename">Filename</label>
      <input id="newFileName" type="text" name="filename" value="My new text"> 
    </form>
    <p>
      Are you sure you want to create a new page?<br /> 
      The current changes will be lost.
    </p>
  </div>
  <div class="modal-footer"> 
    <button id="newCancelButton" class="btn"><span class="icon-thumbs-down" aria-hidden="true"></span>Cancel</button>
    <button id="newAcceptButton" class="btn btn-primary"><span class="icon-thumbs-up" aria-hidden="true"></span>Accept</button>
  </div>
</div>
