<div>

  <div class="modal-header">
    <h3><span class="icon-eye" aria-hidden="true"></span>Options</h3>
    <span id="newCloseIcon" class="close"><span class="icon-cross" aria-hidden="true"></span>Close</span>
  </div>

  <div class="modal-body">

    <div id="font-family" class="opts-group">
      <h4>Font family</h4>
      <ul class="opts-list">
        <li data-font="sans-serif" class="sans-serif"><a tabindex="-1" href="#">Sans serif</a></li>
        <li data-font="serif" class="serif"><a tabindex="-1" href="#">Serif</a></li>
        <li data-font="monospace" class="monospace"><a tabindex="-1" href="#">Monospace</a></li>
      </ul>
    </div>

    <div id="font-size" class="opts-group">
      <h4>Font size</h4>
      <ul class="opts-list font_size">
        <li data-size="font-small" class="font-small"><a tabindex="-1" href="#">A</a></li>
        <li data-size="font-medium" class="font-medium"><a tabindex="-1" href="#">A</a></li>
        <li data-size="font-big" class="font-big"><a tabindex="-1" href="#">A</a></li>
      </ul>
    </div>

    <div class="opts-group">
      <h4>Other</h4>
      <ul class="opts-list">
        <li>
          <div>
            <input id="lineNumbersOption" type="checkbox">
            <label for="lineNumbersOption"><span class="icon-checkmark" aria-hidden="true"></span>Line Numbers</label>
          </div>
         </li> 

        <li>
          <div>
            <input id="wrapLineOption" type="checkbox">
            <label for="wrapLineOption"><span class="icon-checkmark" aria-hidden="true"></span>Wrap Line</label>
          </div>
         </li> 

      </ul>
    </div>
      
<!--     <div class="opts-group">
      <h4>Theme</h4>
      <ul class="opts-list theme">
        <li data-size="themea"><a tabindex="-1" href="#"><span class="icon-sun" aria-hidden="true"></span>Light</a></li>
        <li data-size="themeb"><a tabindex="-1" href="#"><span class="icon-moon" aria-hidden="true"></span>Dark</a></li>
      </ul>
    </div> -->

  </div>

</div>
