<div class="pageItem form-inline">
	<input id="<%= id %>" type="radio" name="pageItemGroup" value="<%= id %>">
	<label for="<%= id %>"><span class="icon-checkmark" aria-hidden="true"></span><%= title %></label>

	<div style="float: right;">
    	<button id="deleteButton" class="btn-mini btn-danger"><span class="icon-cross" aria-hidden="true"></span>Delete</button>
    	<button id="exportButton" class="btn-mini btn-success"><span class="icon-download" aria-hidden="true"></span>Export</button>
	</div>
</div>
