<div>
  <div class="modal-header">
    <h3><span class="icon-folder" aria-hidden="true"></span>Saved files</h3>
    <span id="closeIcon" class="close"><span class="icon-cross" aria-hidden="true"></span>Close</span>
  </div>
  <div class="modal-body">

    <p>Select file to open:</p>

    <div id="pageList">
      <ul>
        <li>
          <div class="pageItem form-inline">
            <input id="field1" type="radio" value="91b6ef65-4c5f-f2e9-4ab6-854b72ba83db" name="pageItemGroup">
            <label for="field1"><span class="icon-checkmark" aria-hidden="true"></span>File 1…</label>
          </div>
        </li>
        <li>
          <div class="pageItem form-inline">
            <input id="field2" type="radio" value="91b6ef65-4c5f-f2e9-4ab6-854b72ba83db" name="pageItemGroup">
            <label for="field2"><span class="icon-checkmark" aria-hidden="true"></span>File 2…</label>
          </div>
        </li>
        <li>
          <div class="pageItem form-inline">
            <input id="field3" type="radio" value="91b6ef65-4c5f-f2e9-4ab6-854b72ba83db" name="pageItemGroup">
            <label for="field3"><span class="icon-checkmark" aria-hidden="true"></span>File 3…</label>
          </div>
        </li>
                <li>
          <div class="pageItem form-inline">
            <input id="field4" type="radio" value="91b6ef65-4c5f-f2e9-4ab6-854b72ba83db" name="pageItemGroup">
            <label for="field4"><span class="icon-checkmark" aria-hidden="true"></span>File 4…</label>
          </div>
        </li>
        <li>
          <div class="pageItem form-inline">
            <input id="field5" type="radio" value="91b6ef65-4c5f-f2e9-4ab6-854b72ba83db" name="pageItemGroup">
            <label for="field5"><span class="icon-checkmark" aria-hidden="true"></span>File 5…</label>
          </div>
        </li>
      </ul>  
    </div>

  </div>
  <div class="modal-footer"> 
    <button id="cancelButton" class="btn"><span class="icon-thumbs-down" aria-hidden="true"></span>Cancel</button>
    <button id="acceptButton" class="btn btn-primary"><span class="icon-thumbs-up" aria-hidden="true"></span>Open</button>
  </div>
</div>
