<table>
    <tr>
        <td>Lines: </td>
        <td><span id="numLines">0</span></td>
    </tr>
    <tr>
        <td>Words: </td>
        <td><span id="numWords">0</span></td>
    </tr>
    <tr>
        <td>Chars: </td>
        <td><span id="numChars">0</span></td>
    </tr>
</table>

<br/>

<table>
    <tr>
        <td>Work Time: </td>
        <td><span id="workingTime">00:00:00</span></td>
    </tr>
    <tr>
        <td>Total Time: </td>
        <td><span id="totalTime">00:00:00</span></td>
    </tr>
</table>
